.body {
	background-color: #0d0d0d;
	text-align: center;
	color: white;
	font-family: "Courier New";
}

#help-button {
	position: absolute;
	top: 5px;
	left: 5px;
}

.form {
	margin-top: 100px;
} 

.enter-button {
	margin-top: 20px;
}

h1 {
	font-weight: normal;
	font-size: 90px;
}

#titulo3{
	color: #0d0d0d;
	width: 500px;
	margin-top: : 60px;
	margin-left: 425px;
}

#titulo3:hover {
	color: white;
}

#level2 {
	color: #0d0d0d;
	margin-top: -35px;
	margin-left: 500px;
}


#level3{
	color: #0d0d0d;
	margin-right: 900px;
	margin-top: 200px;

}
#level3:hover{
	color:white;
}